.contact-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    margin-top: 0px;
}
.container-fluid{
    padding: 40px 20px;
}
.row{
    padding: 50px;
}
.img1{
    border-right: 1px solid rgb(64,137,206);
}
i:hover{
    font-size: 25px;
    color: rgb(64,137,240);
}
.col2
{
    margin: auto;
    text-align: center;
    padding: 30px 100px;
}
h2{
    color:rgb(64,137,206);
}
h1{
    color: rgb(64,137,206);
}
.message-box{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
i{
    color:rgb(64,137,206);
    font-size: 20px;
    margin: 10px;
}
input{
    margin: 20px;
    width: 300px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgb(64,137,206);
}
input:focus{
    outline:none;
    border: 2px solid rgb(64,137,206);
    box-shadow: 10px -8px 10px  rgb(64,137,206);
}
h1{
    font-size: 40px;
    text-transform:uppercase
}
@media screen and (max-width: 1024px) {

    body{
        position: absolute;
    }
    .img1{
        padding: 50px;
        border: none;
    }

}