body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    font-weight: 450;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
}
nav .navbar-nav li a:hover{
    color: white !important;
}
/* SHIFT */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav.shift ul li a {
    position:relative;
    z-index: 1;
}
nav.shift ul li a:hover {
    color: #91640F;
}
nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #009999;
    visibility: none;
    opacity: 0;
    z-index: -1;
}
nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
a {
    color: #6c757d;
}
a:hover {
    color: #cc0000;
    text-decoration: none;
}
::selection {
    background: #cc0000;
    text-shadow: none;
}
footer {
    padding: 2rem 0;
    background-color: #212529;
    margin-top: auto;
    color: white;
    text-align: center;
}
.footer-column:not(:first-child) {
    padding-top: 2rem;
}
@media (min-width: 768px) {
    .footer-column:not(:first-child) {
        padding-top: 0rem;
    }
}
@media (max-width: 768px) {

    .navbar{
        background-color: white;
    }
}
.footer-column {
    text-align: center;
}
.footer-column .nav-item .nav-link {
    padding: 0.1rem 0;
}
.footer-column .nav-item span.nav-link {
    color: #6c757d;
}
.footer-column .nav-item span.footer-title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.footer-column .nav-item .fas {
    margin-right: 0.5rem;
}
.footer-column ul {
    display: inline-block;
}
@media (min-width: 768px) {
    .footer-column ul {
        text-align: left;
    }
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #009999;
}
ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #1a1d20;
}
footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.copyright {
    color: white;
}
.fa-ellipsis-h {
    color: white;
    padding: 2rem 0;
}
.jumbotron {
    position: relative;
    background:none;

}
.jumbotron:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    background-size: cover;
    width: 100%;
    height:140%;
    z-index: -1;

}
#blankSection{
    height: 500px;
}

.borderBottom:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.borderBottom:hover:after {
    width: 100%;
    background: #cc0000;
    color: #cc0000;
}